#root{
    height: 100vh;
}

#entete{
    height: 100px;
}

.accueil{
    /* PROBLEME A RESOURDRE PLUS TARD */
    /* background-image: url('./assets/accueil-bg.jpg');
    background-size: cover; */
    
    height: 100% !important;
    position: relative;
    top: -100px;
}